<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="testDb"
        connectionString="Server = 127.0.0.1; Database = testDb; Uid = root; Pwd = password"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>