<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="testDb" connectionString="Data Source=localhost:1521/XE;User ID=servicestack_test;Password=servicestack_test;Unicode=True"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
