<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!-- add ormlite-tests.fdb = {PATH TO FDB FILE} D:\\ormlite-tests.fdb to your firebird  alias.conf  -->
    <add name="testDb" connectionString="User=SYSDBA;Password=masterkey;Database=northwind;DataSource=localhost;Dialect=3;charset=ISO8859_1;MinPoolSize=0;MaxPoolSize=100;" providerName="FirebirdSql.Data.FirebirdClient"/>
  </connectionStrings>
</configuration>